{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": ["> 0.2%", "last 2 versions", "not ie > 0", "not dead"]
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-stage-3"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "useBuiltIns": false,
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-react",
        "@babel/preset-stage-3"
      ],
      "plugins": ["dynamic-import-node"]
    }
  }
}
